body {
	/* background-color: red; */
}
@mixin bp($point) {
	// the base style is global across all breakpoints
	// then media queries are applied as the viewport width or display resolution increases
	
	// VIEWPORT SIZES
	$bp-phone: "screen and (min-width: 240px)";       // phone vertically & up
	$bp-tablet: "screen and (min-width: 640px)";      // tablet vertically & up
	$bp-laptop: "screen and (min-width: 1024px)";     // laptop & up
	$bp-television: "screen and (min-width: 1480px)"; // television & up
	$bp-2k: "screen and (min-width:2560px)"; // television & up
	
	// MEDIA QUERIES
	@if $point == phone {     // phone
		@media #{$bp-phone} { @content; }
	}
	@if $point == tablet {     // tablet
		@media #{$bp-tablet} { @content; }
	}
	@if $point == laptop {     // laptop
		@media #{$bp-laptop} { @content; }
	}
	@if $point == television {     // television
		@media #{$bp-television} { @content; }
	}

} // end mixin bp
div  {
	width: 100%;
	color: white;
	padding: 1em 0;
	display: block;
	.phone, .tablet, .laptop, .television {
		display:block;
	}
	@include bp('phone') {
		
	}
	@include bp('tablet') {
		
	}
	@include bp('laptop') {
		
	}
	@include bp('television') {

	}
}